@using CarPark.Models;

@{
    ViewBag.Title = "CheckOut";
}

<h2>CheckOut</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("TicketId")

    <button type="submit" class="btn btn-success">
        Submit
    </button>
}

<hr />
@if (TempData["LastTicket"] != null)
{
    var t = TempData["LastTicket"] as Ticket;

    <div>
        @t.DateIn<br />
        @t.DateOut<br />
        Fee = @t.ParkingFee
    </div>
}